

header{
    padding: 30% 5%;
    min-height: 100vh;
    text-shadow: 5px 5px 10px #5D5E4F;
    background-image: url('restaurant.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #FAFCEF;
    padding-bottom: 5%;

 }
 

    h1{
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8em;
        text-align: center;
    }

    h2{

            font-family: "Abel", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.1em;
            letter-spacing: 1px;
            text-align: center;
            color: #FAFCEF;
       

    }
    h3{

        font-family: "Abel", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1em;
        letter-spacing: 1px;
        text-align: center;

}
main{
    background-color: #0C0E0C;
    padding-top: 5%;
    padding-bottom: 5%;
    width: fill;
}
.container{
    color: #FAFCEF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    line-height: 1.7;
    text-align:left;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 65%;

}

.solo{
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 5%;
}



a:link {
    color: #E18D58;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  }

  .graphs{
    background-color: #F9F1E5;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
   width: 100%;
   margin: 0;

  }


  .graphs h2{
    font-size: 50px;
    background-color: #F9F1E5;
    color: black;
    width: 100%;
    margin: 0;
  }
  .text{
    color:black;

  }

  .writing{
    color: #0C0E0C;
  }

  .ending{
    background-color: #F9F1E5;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    margin: 0;
 
   
  }